*.class
.classpath
.DS_Store
.project
.metadata
out
sample/out

#Removed so users can see how keystore and password are stored
#sample/private

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
