*.class
*.iml
.DS_Store
.classpath
.externalNativeBuild
.gradle
.project
.metadata
out
sample/Echo/out
sample/HelloDroid/.idea/caches
sample/HelloDroid/.idea/libraries
sample/HelloDroid/.idea/modules.xml
sample/HelloDroid/.idea/workspace.xml
sample/HelloDroid/app/build
sample/HelloDroid/build
sample/HelloDroid/captures
sample/HelloDroid/local.properties
sample/HelloDroid/out

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
